.header {
    padding: 80px;
    text-align: left;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: cornflowerblue;
}

.row .side h3 {
    text-align: right;
}

.row .side h4 {
    margin-top: 130px;
    text-align: right;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.digit-demo-container {
    background-color: rgb(158, 220, 228);
    border-radius: 5px;
    margin: auto;
}

.digit-demo-container h3 {
    font-size: 15px;
    background-color: #ddd;
    padding: 20px;
    color: black;
    margin: 0px;
}

.flex-two {
    display: flex;
    flex-wrap: wrap;
}

.flex-two div {
    flex: 1;
    padding: 5px;
    text-align: center;
}

.canvas-box-wrapper {
    display: block !important;
}


#chart_box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.btn {
    width: 150px;
}
